* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Vazir';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    direction: rtl;
}